h2 {
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 20px;
    max-width: 500px;
}

p {
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    color: #6D6D77;
    max-width: 780px;
}