
.price-section-kd {
  background-color: #19191c;
  color: white;
  padding: 10% 0;
  height: max-content;
  box-sizing: border-box;
}

.container1-kd {
  padding: 100px 200px;
}

.price-section-kd .h2-kd {
  font-size: 58px;
  font-weight: 700;
  line-height: 70.19px;
  text-align: left;
  margin-bottom: 100px;
  padding: 0 0 30px 0;
}

.Price-cards-kd {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Price-cards-kd .Price-card-kd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Price-cards-kd .h3-kd {
  font-size: 34px;
  font-weight: 700;
  line-height: 41.15px;
  text-align: left;
}

.price-card-kd1 ul .x {
  display: none;
}

.price-card-kd1 {
  background-color: #fbfbfc;
  color: black;
  padding: 32px;
}

.price-card-kd1 .card-foot-kd .price1-kd {
  color: #6d6d77;
  font-size: 20px;
  margin: 0 0 -15px 0;
}

.price-card-kd1 .card-foot-kd .descount-kd {
  color: black;
  font-size: 40px;
}

.price-card-kd2 {
  background-color: #504dee;
  color: #fbfbfc;
  padding: 32px;
}

.price-card-kd2 .card-foot-kd .price1-kd {
  color: #efeff2;
  font-size: 20px;
  margin: 0 0 -15px 0;
}

.price-card-kd2 .card-foot-kd .button-kd {
  background-color: #fbfbfc;
  color: #504dee;
}

.price-card-kd2 .card-foot-kd .descount-kd {
  color: #fbfbfc;
  font-size: 40px;
}

.price-card-kd2 {
  position: relative;
  bottom: 80px;
}

.price-card-kd3 {
  background-color: #deefe4;
  color: #19191c;
  padding: 32px;
}

.price-card-kd3 .card-foot-kd .price1-kd {
  color: #6d6d77;
  font-size: 20px;
  margin: 0 0 -15px 0;
}

.price-card-kd3 .card-foot-kd .descount-kd {
  color: #19191c;
  font-size: 40px;
}

.price-card-kd1 ul li,
.price-card-kd2 ul li,
.price-card-kd3 ul li {
  list-style: square;
  font-size: 15px;
}

.price-card-kd1,
.price-card-kd2,
.price-card-kd3 {
  width: 30%;
  min-height: 625px;
  max-height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 80px;
}

.price-card-kd1 .card-foot-kd,
.price-card-kd2 .card-foot-kd,
.price-card-kd3 .card-foot-kd {
  font-weight: bold;
}

.price-card-kd1 .card-foot-kd .button-kd,
.price-card-kd2 .card-foot-kd .button-kd,
.price-card-kd3 .card-foot-kd .button-kd {
  font-weight: bold;
}

.price-card-kd1 h3,
.price-card-kd2 h3,
.price-card-kd3 h3 {
  margin: 16px 16px 41px;
}

.price-card-kd1 ul,
.price-card-kd2 ul,
.price-card-kd3 ul {
  width: 98%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

.button-kd {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease-in;
}

.button-kd:hover {
  background-color: transparent;
  color: black;
  outline: 1px solid black;
}

.price-card-kd2 .card-foot-kd .button-kd:hover {
  background-color: transparent;
  color: #fbfbfc;
  outline: 1px solid #fbfbfc;
}

/* Responsive */

@media (max-width: 1164px) {
  .container1-kd {
    padding: 100px;
  }
}

@media (max-width: 992px) {
  .Price-cards-kd {
    flex-direction: column;
    align-items: center;
  }
  .price-card-kd2 {
    position: unset;
  }
  .price-card-kd1,
  .price-card-kd2,
  .price-card-kd3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
  }
  .price-card-kd1 .card-foot-kd,
  .price-card-kd2 .card-foot-kd,
  .price-card-kd3 .card-foot-kd {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .price-card-kd1 .card-info,
  .price-card-kd2 .card-info,
  .price-card-kd3 .card-info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .button-kd {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Price-cards-kd {
    flex-direction: column;
    align-items: center;
  }
  .price-card-kd1,
  .price-card-kd2,
  .price-card-kd3 {
    width: 80%;
    margin-bottom: 20px;
  }
  .container1-kd {
    padding: 50;
  }
}
