    /* .HH-Header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: #EFEFF2;
    padding-top: 105px;
    font-family: "Inter";
}

.HH-Ellipse-20 {
    width: 655px;
    position: absolute;
    top: 10px;
    z-index: 0;
    left: -35px;
}

.HH-Header-part1 {
    width: 450px;
    position: relative;
}

.HH-Header-part2 img {
    width: 720px;
    z-index: 1;
    position: relative;
    left: 55px;
}

.HH-Header-part2 button {
    padding: 5px 10px 5px 10px;
    border-radius: 0px;
    border: none;
    background-color: blue;
    color: white;
    margin: 10px 0px;
}

.HH-Ellipse-21 {
    position: absolute;
    top: 140px;
    right: 1px;
    width: 420px;
}

.HH-Header-button {
    margin: 25px 0px;
    padding: 6px 16px 6px 16px;
    background: #504DEE;
    border: none;
    color: white;
}

.HH-Header-button:hover {
    background-color: #0027ff;
    filter: drop-shadow(0px 0px 10px #0128ff);
    border-radius: 5px;
}

.HH-Header-button:active {
    transform: scale(0.96);
}

.HH-Vector-9 {
    width: 50px;
    position: absolute;
    top: 269px;
    left: 135px;
    rotate: -7deg;
}

@media (min-width:992px) and (max-width:1200px) {
    .HH-Ellipse-20 {
        width: 490px;
        position: absolute;
        top: 95px;
        z-index: 0;
        left: -74px;
    }

    .HH-Header-part2 img {
        width: 555px;
        z-index: 1;
        position: relative;
        left: 0px;
    }

    .HH-Ellipse-21 {
        position: absolute;
        top: 95px;
        right: 1px;
        width: 358px;
    }

    .HH-Header-part1 {
        width: 450px;
        position: relative;
        left: 60px;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .HH-Ellipse-20 {
        width: 400px;
        position: absolute;
        top: 114px;
        z-index: 0;
        left: -35px;
    }

    .HH-Header-part1 {
        width: 325px;
        position: relative;
        left: 55px;
    }

    .HH-Vector-9 {
        width: 43px;
        position: absolute;
        top: 250px;
        left: 125px;
        rotate: -7deg;
    }

    .HH-Ellipse-21 {
        position: absolute;
        top: 185px;
        right: 1px;
        width: 240px;
    }

    .HH-Header-part2 img {
        width: 448px;
        z-index: 1;
        position: relative;
        left: -5px;
    }

}

@media (min-width:320px) and (max-width:768px) {
    .HH-Ellipse-20 {
        width: 250px;
        position: absolute;
        top: 60px;
        z-index: 0;
        left: -13px;
    }

    .HH-Header-part1 {
        width: 300px;
        position: relative;
    }

    .HH-Header-part1 h1 {
        font-size: 16px;
    }

    .HH-Header-button {
        margin: 0px 0px;
        padding: 4px 14px 4px 14px;
        background: #504DEE;
        border: none;
        color: white;
    }

    .HH-Vector-9 {
        width: 34px;
        position: absolute;
        top: 122px;
        left: 142px;
        rotate: -2deg;
    }

    .HH-Ellipse-21 {
        position: absolute;
        top: 400px;
        right: 1px;
        width: 160px;
    }

    .HH-Header-part2 img {
        width: 320px;
        z-index: 1;
        position: relative;
        left: -33px;
    }
} */
    
    .buttom {
        border-radius: 0;
        font-size: 20px;
        padding: 15px;
        width: 250px;
        margin-bottom: 150px;
    }
    
    .H {
        padding: 80px 0px;
    }
    
    .H h2 {
        font-size: 45px;
        font-weight: 700;
        width: 500px;
    }
    
    .H p {
        font-size: 25px;
        font-weight: 300;
        color: black;
    }
    
    .H a {
        text-decoration: none;
    }
    
    .DD {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .D {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .D svg {
        position: absolute;
        bottom: 50px;
        left: 220px;
    }
    
    .D .D1 {
        font-size: 65px;
        font-weight: 700;
    }
    
    .D .D2 {
        font-size: 20px;
    }
    
    .contain-header {
        padding: 100px 200px;
    }
    
    @media (max-width: 1400px) {
        .H {
            padding: 0px;
        }
    }
    
    @media (max-width: 1216px) {
        .H h2 {
            font-size: 25px !important;
            font-weight: 700;
            width: 100%;
        }
        .buttom {
            border-radius: 0;
            font-size: 20px;
            padding: 15px;
            width: 200px;
            margin-bottom: 50px;
        }
        .D svg {
            position: absolute;
            bottom: 30px;
            left: 200px;
            width: 50px;
        }
        .img-fluid {
            margin-top: 70px;
            width: 100% !important;
        }
    }
    
    @media (max-width: 850px) {
        .contain-header {
            padding: 30px;
        }
        .H h2 {
            font-size: 25px;
            font-weight: 700;
            width: 80%;
        }
    }
    
    @media (max-width: 400px) {
        .img-fluid {
            margin-top: 40px;
            width: 100% !important;
        }
    }