/* Content styling */
.content {
  background-image: url("./../../../public/assets/images/Main_page/Untitled-2.png");
  background-color: black;
  background-size: cover;
  background-position: center;
  color: #fbfbfc;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Inter";
  height: 592px;
  position: relative;
  padding: 0 20px;
  flex-wrap: wrap;
}

/* Paragraph styling */
p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

/* Heading styling */
h2 {
  font-weight: 700;
  line-height: 70.19px;
}

/* PlatformInfo and Statistics */
.platformInfo,
.statistics {
  position: absolute;
  top: 168px;
}

.platformInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 220px;
  width: 588px;
}

.statistics {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  left: 970px;
  right: 220px;
}

.statistics div {
  width: 178px;
  height: 119px;
  margin-right: 86px;
}

.statistics div:last-child {
  margin-right: 0;
}

.statistics p {
  position: relative;
}

.statistics p::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fbfbfc;
  margin-top: 8px;
  position: absolute;
}

@media (max-width: 1700px) {
  h2 {
    font-size: 30px;
  }

  .statistics {
    left: 880px;
  }

  .statistics div {
    margin-right: 60px;
  }
}

/* Responsive adjustments */
@media (max-width: 1400px) {
  h2 {
    font-size: 30px;
  }
  .statistics {
    flex-wrap: wrap;
  }

  .statistics .stat1,
  .statistics .stat2,
  .statistics .stat3 {
    width: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 20px;
  }

  .statistics .stat3 {
    width: 70%;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px){
  h2 {
    font-size: 25px;
    line-height: 50px;
  }

  .statistics {
    flex-direction: column;
  }

  .statistics .stat1,
  .statistics .stat2,
  .statistics .stat3 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .statistics p::after {
    margin-top: 5px;
  }
}

@media (max-width: 1200px) {

    h2 {
        font-size: 20px;
        line-height: 40px; 
      }
    
      p {
        font-size: 16px;
        line-height: 20px; 
      }
    .content {
        flex-direction: column;
        justify-content: center;
    }

    .platformInfo {
        position: static; 
        width: 80%; 
        margin-right: 0;
        order: 1;
        padding-top: 50px;
        padding-left: 75px;
        
    }

    .statistics {
        position: static;
        width: 100%;
        order: 2;
        flex-direction: row; 
        justify-content: space-between;
        padding-left: 75px;
        padding-right: 50px;
        margin-top: 20px;
    }

    .statistics .stat1,
    .statistics .stat2,
    .statistics .stat3 {
        width: calc(33.33% - 50px);
        margin-right: 50px;
        margin-bottom: 20px;
    }
    .statistics div:first-child {
        margin-left: 0;
      }
}

@media (max-width: 787px) {
    h2 {
      font-size: 20px;
      line-height: 35px; 
    }
  
    p {
      font-size: 16px;
      line-height: 20px; 
    }
  
    .content {
        flex-direction: column;
        justify-content: center;
    }

    .platformInfo {
        position: static; 
        width: 80%; 
        margin-right: 0;
        order: 1;
        padding-top: 50px;
        padding-left: 50px;
        
    }

    .statistics {
        position: static;
        width: 100%;
        order: 2;
        flex-direction: row; 
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 20px;
    }

    .statistics .stat1,
    .statistics .stat2,
    .statistics .stat3 {
        width: calc(33.33% - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .statistics div:first-child {
        margin-left: 0;
      }
  }


  
  @media (max-width: 369px) {
    h2 {
      font-size: 16px;
      line-height: 24px;
    }
  
    p {
      font-size: 12px;
      line-height: 16px;
    }
  
    .content {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  
    .platformInfo {
      position: static;
      width: 100%;
      padding-top: 10px;
      padding-left: 10px;
      order: 1;
    }
  
    .statistics {
      position: static;
      width: 100%;
      order: 2;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 5px;
    }
  
    .statistics .stat1,
    .statistics .stat2,
    .statistics .stat3 {
      width: 100%;
      margin-right: 0;
      margin-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }


  @media (max-width: 320px) {
    h2 {
      font-size: 14px;
      line-height: 22px;
    }
  
    p {
      font-size: 10px;
      line-height: 14px;
    }
  
    .content {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  
    .platformInfo {
      position: static;
      width: 100%;
      padding-top: 5px;
      padding-left: 5px;
      order: 1;
    }
  
    .statistics {
      position: static;
      width: 100%;
      order: 2;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 2px;
    }
  
    .statistics .stat1,
    .statistics .stat2,
    .statistics .stat3 {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2px;
      padding-left: 2px;
      padding-right: 2px;
    }
  }