.container-question {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    padding: 100px 200px !important;
    background-color: rgba(222, 239, 228, 1) !important;
}

.content-question {
    width: 40% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    justify-content: center !important;
    position: relative !important;
    padding-left: 40px;
}

.content-question .svg4 {
    width: 120px !important;
    position: absolute !important;
    right: -110px !important;
    bottom: 45px !important;
}


/* 
.content-question .svg4 {
    position: absolute !important;
} */

.content-question h2 {
    font-size: 55px !important;
    font-weight: 700 !important;
    margin-bottom: 10px !important;
    width: 600px !important;
}

.content-question p {
    font-size: 20px !important;
    margin-bottom: 20px !important;
    width: 600px !important;
}

.form-question {
    display: flex !important;
    flex-direction: column !important;
    width: 60% !important;
    padding-left: 190px !important;
}

.form-question input {
    width: 100% !important;
    max-width: 500px !important;
    padding: 20px !important;
    margin-bottom: 10px !important;
    border: none !important;
    outline: none !important;
    background-color: rgba(222, 239, 228, 1) !important;
    border-bottom: 2px solid black !important;
    font-size: 20px !important;
}

.form-question button {
    padding: 10px !important;
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
    cursor: pointer !important;
    width: 170px !important;
    margin-top: 20px !important;
    font-size: 20px !important;
    transition: 0.3s !important;
    box-shadow: 0px 0px 5px #555555 !important;
}

.form-question button:hover {
    cursor: pointer !important;
    scale: 1.04 !important;
}

@media (max-width: 1560px) {
    .content-question h2 {
        font-size: 30px !important;
        width: 80% !important;
    }
    .content-question p {
        width: 80% !important;
    }
    .container-question {
        padding: 50px !important;
    }
    .form-question input {
        width: 100 !important;
    }
}

@media (max-width: 1359px) {
    .svg4 {
        width: 120px !important;
        position: absolute !important;
        right: -120px !important;
    }
}

@media (max-width: 700px) {
    .container-question {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 70px 50px !important;
        width: 100%;
    }
    .content-question {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        justify-content: center !important;
        padding-left: 0px !important;
    }
    .form-question {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        width: 100% !important;
        padding-left: 0px !important;
    }
    .content-question .svg4 {
        display: none !important;
    }
    .content-question h2 {
        font-size: 30px !important;
        width: 100% !important;
    }
}

@media (max-width: 390px) {
    .content-question h2 {
        font-size: 20px !important;
        font-weight: 700 !important;
        margin-bottom: 10px !important;
        width: 200px !important;
    }
}